# Created by https://www.gitignore.io

### IntelliJ
*.iml

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml


### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

/Java8Examples/nbproject/
/.idea/
/Log4jDemo1/.idea/
/.classpath
/.project
/slf4jconfig-logback/.classpath
/slf4jconfig-logback/.project
/slf4jconfig-logback/.settings/
/slf4jconfig-log4j/.settings/
/slf4jconfig-log4j/.classpath
/slf4jconfig-log4j/.project